<div class="nav_zone">
  <hr class="navi_solid">
  <ul id="nav">
    <li><strong>GAMREN</strong></li>
    <li><%= link_to "商品一覧へ戻る", articles_path %></li>
    <li><%= link_to "新しい商品を登録する", new_article_path %></li>
    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
  </ul>
  <hr class="nav_solid">
</div>
<div class="index_tag">
  <h2>ゲムレンについて</h2>
</div>
<div class="index">

  </ul>
</div>